*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-image: url('./img/fondo-3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    font-size: 48px;
    color: #2c3e50;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid #2c3e50;
}
.highlight{
    background-image: url('./img/fondo-5.jpg');
    padding: 2px;
    color: rgba(156, 6, 6, 0.815);
}
.highlight h1{
    color: beige;
}
.highlight .card{
    background-color: rgba(245, 245, 220, 0.534);
}
.highlight .card1{
    background-color: rgba(245, 245, 220, 0.534);
}
.highlight .card2{
    background-color: rgba(245, 245, 220, 0.534);
}
.highlight .card3{
    background-color: rgba(245, 245, 220, 0.534);
}
.highlight .card4{
    background-color: rgba(245, 245, 220, 0.534);
}
.contenedorCard{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 475px;
    margin: 30px;
    border-radius: 35px;
    padding: 20px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    transition: transform 0.2s;    
}
.card:hover{
    transform: scale(1.05);
}
.card button{
    width: 100px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px 3px;
    border: none;
    background-color:rgb(197, 102, 102);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.card button:hover{
    background-color: #2980b9;
}
.dvcatena{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
}
p{
    color: rgb(124, 12, 12);
}
.card1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 475px;
    margin: 30px;
    border-radius: 35px;
    padding: 20px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    transition: transform 0.2s;
}
.card1:hover{
    transform: scale(1.05);
}
.card1 button{
    width: 100px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px 3px;
    border: none;
    background-color:rgb(197, 102, 102);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.card1 button:hover{
    background-color: #2980b9;
}
.thibautdelmotte{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 475px;
    margin: 30px;
    border-radius: 35px;
    padding: 20px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    transition: transform 0.2s;
}
.card2:hover{
    transform: scale(1.05);
}
.card2 button{
    width: 100px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px 3px;
    border: none;
    background-color:rgb(197, 102, 102);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.card2 button:hover{
    background-color: #2980b9;
}
.casaboher{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 475px;
    margin: 30px;
    border-radius: 35px;
    padding: 20px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    transition: transform 0.2s;
}
.card3:hover{
    transform: scale(1.05);
}
.card3 button{
    width: 100px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px 3px;
    border: none;
    background-color:rgb(197, 102, 102);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.card3 button:hover{
    background-color: #2980b9;
}
.altavista{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 475px;
    margin: 30px;
    border-radius: 35px;
    padding: 20px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    transition: transform 0.2s;
}
.card4:hover{
    transform: scale(1.05);
}
.card4 button{
    width: 100px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px 3px;
    border: none;
    background-color:rgb(197, 102, 102);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.card4 button:hover{
    background-color: #2980b9;
}
.luca{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.oscuro button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: -25px;
    margin-left: -25px;
    padding: 3px 3px;
    border: none;
    background-color:rgb(197, 102, 102);
    color: white;
    border-radius: 25px;
    transition: background-color 0.3s;
}
.oscuro button:hover{
    background-color: black;
}